.left-panel {
  background-color: $white;
  padding-bottom: 15px;
  .cover-pic {
    height: 125px;
    position: relative;
    .profile-pic {
      @extend .avatar;
      position: absolute;
      bottom: 0;
      left: 40%;
      margin-bottom: -30px;
      width: 63px !important;
      border: 4px solid $white;
    }
  }

  .about {
    margin-top: 40px;
    line-height: 1.85rem !important;
    padding-left: 10px;
    padding-right: 10px;
    #name {
      display: block;
      text-align: center;
      font-weight: 600;
      font-size: 1.65rem;
    }
    #username {
      display: block;
      text-align: center;
      font-size: 1.35rem;
      color: $grey;
    }

    form {
      margin-top: 15px;
    }

    #new-microblog {
      resize:none;
    }
    button#share {
      
    }
  }
}

.news-feed {
  background-color: $white;
  padding: 20px;
  min-height: 5rem;
  border-radius: 5px;
}

.avatar {
  width: 35px;
  border-radius: 10em;
  margin-right: 5px;
}