.navbar {
  background-color: $navbar-default;
  border: none;
  border-radius: 0;
}

.navbar-default {
  .navbar-brand {
    font-weight: 700;
  }
  .navbar-brand, .navbar-nav > li > a {
    font-weight: 700;
    color: $white;
  }
}

.navbar-inverse {
  background-color: $navbar-dark;
}

.navbar-nav > li > .dropdown-menu {
  margin-top: 14px;
  border-radius: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  padding: 0;
  li > a {
    border-bottom: 1px solid $light-grey;
    font-weight: 600;
    padding: 7px 20px;
    &:hover {
      color: $white;
      background-color: $navbar-default;
    };
  }
}

.navbar-form .form-control {
  border: none;
  border-radius: 2px;
  background-color: $light-grey;
  min-width: 275px;
  &:focus, &:focus + .input-group-addon {
    border: none;
    background-color: $white;
  };
}

.navbar-form .input-group .input-group-addon {
  background-color: $light-grey;
  border: none;
}