#logo {
  font-size: 2.25rem !important;
  border: 3px solid #fff;
  padding: 4px;
  margin-top: 8px;
  height: auto;
}

#landing-nav {
  background: none;
}

.navbar-nav > li > a {
  padding: 0;
  margin-top: 8px;
}

.navbar-icons {
  margin-top: 15px !important;
  margin-left: 30px;
  margin-right: 30px;
  font-size: 1.75rem;
}

#new-micropost {
  padding: 20px;
}

#new-micropost textarea {
  resize: none;
  max-height: 100px;
}

#location {
  margin-top: 20px;
}

#suggestions .name, #suggestions .username {
  font-weight: 600;
  font-size: 1.25rem;
}

#suggestions .name {
  color: #000;
}

#suggestions {
  line-height: 1.5rem;
}

#suggestions ul > li {
  border-bottom: 1px solid #f4f4f4;
}

#suggestions ul > li:hover {
  background-color: #f4f4f4;
}

.micropost {
  padding: 20px;
}

.micropost .avatar {
  width: 40px;
}

.micropost .name {
  font-weight: 700;
  font-size: 1.35rem;
  display: inline;
}

.micropost .username {
  font-weight: 600;
  font-size: 1.25rem;
  color: #888;
  display: inline;
}

.micropost .mention {
  font-weight: 700; 
  color: #019c70;
}

.micropost .post {
  margin-top: 5px;
}

.micropost .time {
  color: #999;
  font-size: 1.2rem;
  font-weight: 700;
}

.micropost .hashtags {
  color: #4285f4;
  cursor: pointer;
}

#microposts {
  margin-bottom: 40px;
}