.landing-text {
  color: #fff;
}

.landing-text h1 {
  font-size: 3.5rem;
}

.sub-text {
  font-size: 2.45rem;
  font-weight: 300;
}

.landing-text p {
  font-size: 1.75rem;
  font-weight: 300;
}

.landing-text a {
  font-weight: 600;
  color: #fff;
}

.navbar-avatar {
  width: 20px;
}

#new-micropost {
  padding: 20px;
}

#new-micropost textarea {
  resize: none;
  max-height: 100px;
}

#location {
  margin-top: 20px;
}

#suggestions .name, #suggestions .username {
  font-weight: 600;
  font-size: 1.25rem;
}

#suggestions .name {
  color: #000;
}

#suggestions {
  line-height: 1.5rem;
}

#suggestions ul > li {
  border-bottom: 1px solid #f4f4f4;
}

#suggestions ul > li:hover {
  background-color: #f4f4f4;
}

.micropost {
  padding: 20px;
}

.micropost .avatar {
  width: 40px;
}

.micropost .name {
  font-weight: 700;
  font-size: 1.35rem;
  display: inline;
}

.micropost .username {
  font-weight: 600;
  font-size: 1.25rem;
  color: #888;
  display: inline;
}

.micropost .mention {
  font-weight: 700; 
  color: #019c70;
}

.micropost .post {
  margin-top: 5px;
}

.micropost .time {
  color: #999;
  font-size: 1.2rem;
  font-weight: 700;
}

.micropost .hashtags {
  color: #4285f4;
  cursor: pointer;
}

#microposts {
  margin-bottom: 40px;
}