<div class="card">
  <div class="cover" data-fade="[duration]" data-duration="[duration]">
    <ul class="cover-pics">
      <li><img src="..."></li>
      ...
    </ul>
    <img src="..." alt="" class="avatar">
  </div>
  <div class="about">
    <h3 class="name"><!-- name --></h3>
    <h5 class="username"><!-- username --></h5>
    <span class="content"><!-- about description --></span>
  </div>
</div>

<div class="card">
  <div class="cover" data-cover="...">
    <img src="..." alt="" class="avatar">
  </div>
  <div class="about">
    <h3 class="name"><!-- name --></h3>
    <h5 class="username"><!-- username --></h5>
    <span class="content"><!-- about description --></span>
  </div>
</div>