<div class="feed">
  <div class="micropost">
    <div class="content">
      <div class="avatar-content">
        <img src="..." alt="...">
      </div>
      <div class="post-content">
        <span class="name"><!-- name --></span>
        <span class="username"><!-- username --></span>
        <div class="post">
          <!-- post content --> <span class="hashtags"><!-- hashtag content --></span>
        </div>
      </div>
      <div class="right-content">
        <span><!-- time --></span>
      </div>
    </div>
    <div class="actions">
      <div class="actions-content">
        <a href="#"><i class="fa fa-arrow-left"></i></a>
        <a href="#"><i class="fa fa-retweet"></i></a>
        <a href="#"><i class="fa fa-heart"></i></a>
      </div>
    </div>
  </div>
  ...
</div>