<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Slider Panel</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../dist/css/paper.min.css">
  <link rel="stylesheet" href="css/login.css">
</head>
<body data-slide="push">
  <div id="panel-id" class="slider-panel">
    <!-- panel content here -->
  </div>
  <div class="wrapper">
    <nav class="navbar navbar-default navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a id="sample-btn" class="navbar-brand" href="#" data-panel="panel-id">P</a>
        </div>
      </div>
    </nav>

    <!-- page content here -->
    <div class="container-fluid">
      ...
    </div>
  </div>
  <script type="text/javascript" src="../dist/js/vendor/jquery.min.js"></script>
  <script type="text/javascript" src="../dist/js/paper.min.js"></script>
</body>
</html>