<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Templates - Paper | A Simple, Elegant &amp; Flat Bootstrap Theme</title>
  <meta name="description" content="A Simple, Elegant &amp; Flat Bootstrap Theme">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../dist/css/paper.min.css">
  <link rel="stylesheet" href="css/prism.css">
  <style type="text/css">
    .img-preview {
      border: 1px solid #ccc;
    }
    .footer {
      background-color: #fafafa;
      border-top: 1px solid #ddd;
      padding: 30px;
    }
    pre {
      max-height: 450px;
    }
  </style>
</head>
<body>
  <nav class="navbar navbar-default navbar-inverse" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="../index.html">Paper</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="../pages/css.html">CSS</a></li>
          <li><a href="../pages/components.html">Components</a></li>
          <li><a href="../pages/extras.html">Extras</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="../pages/getting-started.html">Getting Started</a></li>
          <li class="active"><a href="index.html">Templates</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <br><br>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <div class="well">
          <h2><b>Templates</b></h2><hr>
          <div class="row">
            <div class="col-lg-6 col-sm-6 col-xs-12 col-md-6">
              <div class="thumbnail">
                <img src="../assets/img/landing.jpg" alt="..." class="img-preview">
                <div class="caption">
                  <h4 class="text-center"><b>Landing Page</b></h4><br>
                  <p class="text-center">
                    <a href="landing.html" target="_blank" class="btn btn-success" role="button">
                      Live Preview
                    </a>
                    <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#landingModal">
                      <i class="fa fa-code"></i> Code
                    </a>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-sm-6 col-xs-12 col-md-6">
              <div class="thumbnail">
                <img src="../assets/img/login.jpg" alt="..." class="img-preview">
                <div class="caption">
                  <h4 class="text-center"><b>Login Page</b></h4><br>
                  <p class="text-center">
                    <a href="login.html" target="_blank" class="btn btn-success" role="button">
                      Live Preview
                    </a>
                    <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#loginModal">
                      <i class="fa fa-code"></i> Code
                    </a>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-sm-6 col-xs-12 col-md-6">
              <div class="thumbnail">
                <img src="../assets/img/timeline.jpg" alt="..." class="img-preview">
                <div class="caption">
                  <h4 class="text-center"><b>Timeline</b></h4><br>
                  <p class="text-center">
                    <a href="timeline.html" target="_blank" class="btn btn-success" role="button">
                      Live Preview
                    </a>
                    <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#timelineModal">
                      <i class="fa fa-code"></i> Code
                    </a>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-sm-6 col-xs-12 col-md-6">
              <div class="thumbnail">
                <img src="../assets/img/blog.jpg" alt="..." class="img-preview">
                <div class="caption">
                  <h4 class="text-center"><b>Blog</b></h4><br>
                  <p class="text-center">
                    <a href="blog.html" target="_blank" class="btn btn-success" role="button">
                      Live Preview
                    </a>
                    <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#blogModal">
                      <i class="fa fa-code"></i> Code
                    </a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="landingModal" tabindex="-1" role="dialog" aria-labelledby="landingModalLabel">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Landing Template</h4>
        </div>
        <div class="modal-body">
          <pre data-src="code-templates/landing-template.html"></pre>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Login Template</h4>
        </div>
        <div class="modal-body">
          <pre data-src="code-templates/login-template.html"></pre>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="timelineModal" tabindex="-1" role="dialog" aria-labelledby="timelineModalLabel">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Timeline Template</h4>
        </div>
        <div class="modal-body">
          <pre data-src="code-templates/timeline-template.html"></pre>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="blogModal" tabindex="-1" role="dialog" aria-labelledby="blogModalLabel">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Blog Template</h4>
        </div>
        <div class="modal-body">
          <pre data-src="code-templates/blog-template.html"></pre>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <br><br>
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1 text-center">
          <span>Released under MIT License</span> | 
          <span>Built on <a href="http://getbootstrap.com/">Bootstrap</a></span> |
          <span>Made by <a href="https://github.com/sudharti">sudharti</a></span>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="../dist/js/vendor/jquery.min.js"></script>
  <script type="text/javascript" src="../dist/js/paper.min.js"></script>
  <script type="text/javascript" src="js/prism.js"></script>
</body>
</html>