<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Paper - Templates</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../dist/css/vendor/font-awesome.min.css">
  <link rel="stylesheet" href="../dist/css/paper.css">
</head>
<body>
  <nav class="navbar navbar-default navbar-inverse" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="../index.html">Paper</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="../css.html">CSS</a></li>
          <li><a href="../components.html">Components</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="../getting-started.html">Getting Started</a></li>
          <li class="active"><a href="index.html">Templates</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <br><br>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <div class="well">
          <h2><b>Templates</b></h2><hr>
          <div class="row">
            <div class="col-lg-6 col-xs-6 col-md-3">
              <div class="thumbnail">
                <img src="../assets/img/landing.jpg" alt="...">
                <div class="caption">
                  <h4 class="text-center"><b>Landing Page</b></h4><br>
                  <p class="text-center"><a href="landing.html" class="btn btn-success" role="button">Live Preview</a></p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-xs-6 col-md-3">
              <div class="thumbnail">
                <img src="../assets/img/login.jpg" alt="...">
                <div class="caption">
                  <h4 class="text-center"><b>Login Page</b></h4><br>
                  <p class="text-center"><a href="login.html" class="btn btn-success" role="button">Live Preview</a></p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-xs-6 col-md-3">
              <div class="thumbnail">
                <img src="../assets/img/img-3.jpg" alt="...">
                <div class="caption">
                  <h4 class="text-center"><b>Timeline</b></h4><br>
                  <p class="text-center"><a href="timeline.html" class="btn btn-success" role="button">Live Preview</a></p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-xs-6 col-md-3">
              <div class="thumbnail">
                <img src="../assets/img/img-4.jpg" alt="...">
                <div class="caption">
                  <h4 class="text-center"><b>Blog</b></h4><br>
                  <p class="text-center"><a href="blog.html" class="btn btn-success" role="button">Live Preview</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br><br><hr>
  <div class="container">
    <div class="footer">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1 text-center">
          <span>MIT License</span> | 
          <span>Based on <a href="http://getbootstrap.com/">Bootstrap</a></span> |
          <span>Design by <a href="https://github.com/sudharti">@sudharti</a></span> |
          <span>Icons - <a href="http://fortawesome.github.io/Font-Awesome/icons/">Fontawesome</a></span> |
          <span>Images from <a href="https://unsplash.com/">Unsplash</a></span>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1 text-center">
          <iframe src="http://ghbtns.com/github-btn.html?user=sudharti&repo=medium-slider.js&type=fork&count=true"
          allowtransparency="true" frameborder="0" scrolling="0" width="95" height="20"></iframe>
          <iframe src="http://ghbtns.com/github-btn.html?user=sudharti&repo=medium-slider.js&type=watch&count=true"
          allowtransparency="true" frameborder="0" scrolling="0" width="95" height="20"></iframe>
          <iframe src="http://ghbtns.com/github-btn.html?user=sudharti&type=follow"
          allowtransparency="true" frameborder="0" scrolling="0" width="145" height="20"></iframe>
          
          <a class="twitter-share-button"
          href="https://twitter.com/share"
          data-via="sudharshan_iyer">Tweet</a>
          <div class="g-plusone" data-size="medium"></div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="../dist/js/vendor/jquery.min.js"></script>
  <script type="text/javascript" src="../dist/js/vendor/bootstrap.min.js"></script>
  <script type="text/javascript">
    window.twttr=(function(d,s,id){var t,js,fjs=d.getElementsByTagName(s)[0];if(d.getElementById(id)){return}js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);return window.twttr||(t={_e:[],ready:function(f){t._e.push(f)}})}(document,"script","twitter-wjs"));
  </script>
  <script type="text/javascript" src="https://apis.google.com/js/platform.js" async defer></script>
</body>
</html>