<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><!-- Insert title here --></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../dist/css/paper.min.css">
  <link rel="stylesheet" href="css/login.css">
</head>
<body>
  <nav class="navbar navbar-default navbar-inverse" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="../index.html"><!-- Title --></a>
      </div>
    </div>
  </nav>
  <br><br>
  <div id="login">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
          <div class="well">
            <h3 class="text-center"><!-- Form Title --></h3><hr>
            <!-- Example form -->
            <form role="form">
              <div class="form-group">
                <input type="email" class="form-control" id="exampleInputEmail" placeholder="Email or username" autofocus>
              </div>
              <div class="form-group">
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox"> Remember Me
                </label>
              </div>
              <button type="submit" class="btn btn-success btn-block">Sign in</button>
            </form>
            <!-- end -->
            <!-- Links -->
            <div class="links">
              <a href="#">Forgot Password?</a>
              <a href="#">Resend Confirmation</a>
            </div>
            <!-- end -->
          </div>
          <div class="row">
            <h5 class="text-center">
              <!-- Link to sign up -->
              <a href="#">Create an Account &#8594;</a>
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="../dist/js/vendor/jquery.min.js"></script>
  <script type="text/javascript" src="../dist/js/paper.min.js"></script>
</body>
</html>