<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Timeline - Paper | A Simple, Elegant &amp; Flat Bootstrap Theme</title>
  <meta name="description" content="A Simple, Elegant &amp; Flat Bootstrap Theme">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../dist/css/paper.min.css">
  <link rel="stylesheet" href="css/demo.css">
  <link rel="stylesheet" href="css/timeline.css">
</head>
<body>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a id="logo" class="navbar-brand" href="../index.html">Paper</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a id="notification" href="#" class="dropdown-toggle navbar-icons" data-toggle="dropdown">
              <i class="fa fa-bell-o"></i>
            </a>
            <ul id="notifications" class="dropdown-menu" role="menu">
              <script id="notifications-template" type="text/x-handlebars-template">
                <li class="dropdown-title">
                  <h5><b>Notifications</b></h5>
                </li>
                {{#each notifications}}
                <li>
                  <a href="#">
                    <h5><b>{{title}}</b></h5>
                    {{{post}}}
                  </a>
                </li>
                {{/each}}
                <li>
                  <a href="#" class="text-center">
                    <span><b><i class="fa fa-bars"></i> More</b></span>
                  </a>
                </li>
              </script>
            </ul>
          </li>
          <li class="dropdown">
            <a id="inbox" href="#" class="dropdown-toggle navbar-icons" data-toggle="dropdown">
              <i class="fa fa-inbox"></i>
            </a>
            <ul id="messages" class="dropdown-menu" role="menu">
              <script id="messages-template" type="text/x-handlebars-template">
                <li class="dropdown-title">
                  <h5><b>Messages</b></h5>
                </li>
                {{#each messages}}
                <li>
                  <a href="#">
                    <h6><b>{{user}}</b></h6>
                    {{{message}}}
                  </a>
                </li>
                {{/each}}
                <li>
                  <a href="#" class="text-center">
                    <span><b><i class="fa fa-bars"></i> More</b></span>
                  </a>
                </li>
              </script>
            </ul>
          </li>
          <li>
            <a href="#"><img class="navbar-avatar" src="https://en.gravatar.com/userimage/23763355/e7bbf514106dc2fd9ddb4e8160a72e8c.png" alt="Profile"> sudharti </a>
          </li>
        </ul>
        <form class="navbar-form navbar-right" role="search">
          <div class="form-group">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search">
              <div class="input-group-addon"><i class="fa fa-search"></i></div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3">
        <div class="card">
          <div class="cover" data-fade="1500" data-duration="2500">
            <ul class="cover-pics">
              <li><img src="../assets/img/img-1.jpg"></li>
              <li><img src="../assets/img/img-2.jpg"></li>
              <li><img src="../assets/img/img-3.jpg"></li>
              <li><img src="../assets/img/img-4.jpg"></li>
              <li><img src="../assets/img/img-5.jpg"></li>
              <li><img src="../assets/img/img-6.jpg"></li>
              <li><img src="../assets/img/img-7.jpg"></li>
              <li><img src="../assets/img/img-8.jpg"></li>
            </ul>
            <img src="https://en.gravatar.com/userimage/23763355/e7bbf514106dc2fd9ddb4e8160a72e8c.png" alt="" class="avatar">
          </div>
          <div class="about">
            <h3 class="name">Sudharsanan M</h3>
            <h5 class="username">@sudharti</h5>
            <span class="content">22 | Hacker | Technophile | Blogger | Android Dev | Rails Fanboy | Rubyist</span>
            <label id="location"><i class="fa fa-map-marker"></i> Dallas, Texas</label>
          </div>
        </div><br>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><b>Trends</b></h3>
          </div>
          <div class="panel-body">
            <ul id="trends" class="panel-list">
              <script id="trends-template" type="text/x-handlebars-template">
                {{#each trends}}
                <li><a href="#">{{trend}}</a></li>
                {{/each}}
              </script>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-5">
        <div class="panel panel-default">
          <div id="new-micropost" class="panel-body">
            <form role="form">
              <div class="form-group">
                <textarea rows="1" cols="10" class="form-control" placeholder="Compose Micropost"></textarea>
              </div>
              <button id="share" class="btn btn-success">
                <i class="fa fa-send-o"></i> <b>Share</b>
              </button>
            </form>
          </div>
        </div>
        <div id="microposts" class="feed">
          <script id="microposts-template" type="text/x-handlebars-template">
            {{#each microposts}}
            <div class="micropost">
              <div class="content">
                <div class="avatar-content">
                  <img src={{avatar}} alt={{avatar}}>
                </div>
                <div class="post-content">
                  <span class="name">{{name}}</span>
                  <span class="username">{{username}}</span>
                  <div class="post">{{{post}}}</div>
                </div>
                <div class="right-content">
                  <span>{{time}}</span>
                </div>
              </div>
              <div class="actions">
                <div class="actions-content">
                  <a href="#">
                    <i class="fa fa-arrow-left"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-retweet"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-heart"></i>
                  </a>
                </div>
              </div>
            </div>
            {{/each}}
          </script>
        </div>
      </div>
      <div class="col-lg-3 col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><b>Suggestions</b></h3>
          </div>
          <div class="panel-body">
            <ul id="suggestions" class="panel-list">
              <script id="suggestions-template" type="text/x-handlebars-template">
                {{#each suggestions}}
                <li>
                  <a href="#">
                    <div class="row">
                      <div class="col-lg-3 col-md-3 col-xs-2">
                        <img src={{avatar}} alt="" class="avatar">
                      </div>
                      <div class="col-lg-5 col-md-5 col-xs-3">
                        <span class="name">{{name}}</span>
                        <span class="username">{{username}}</span>
                      </div>
                      <div class="col-lg-4 col-md-4 col-md-offset-0 col-xs-4 col-xs-offset-3">
                        <button class="btn btn-success btn-sm">
                          Follow
                        </button>
                      </div>
                    </div>
                  </a>
                </li>
                {{/each}}
              </script>
            </ul>
          </div>
        </div>
        <div class="well">
          <div class="footer">
            <h5><b>Paper</b></h5>
            <a href="#">Author</a> 
            <a href="#">Blog</a> 
            <a href="#">Paper</a> 
            <a href="#">About</a> 
            <a href="#">Github</a> 
            <a href="#">Getting Started</a> 
            <a href="#">License</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <script type="text/javascript" src="../dist/js/vendor/jquery.min.js"></script>
  <script type="text/javascript" src="../dist/js/paper.min.js"></script>
  <script type="text/javascript" src="js/handlebars-v2.0.0.js"></script>
  <script type="text/javascript" src="js/jquery.autosize.min.js"></script>
  <script type="text/javascript" src="js/timeline.js"></script>
</body>
</html>