<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Paper - Timeline</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../dist/css/vendor/font-awesome.min.css">
  <link rel="stylesheet" href="../dist/css/paper.css">
  <link rel="stylesheet" href="css/demo.css">
  <link rel="stylesheet" href="css/timeline.css">
</head>
<body>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a id="logo" class="navbar-brand" href="../index.html">Paper</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a id="notification" href="#" class="dropdown-toggle navbar-icons" data-toggle="dropdown">
              <i class="fa fa-bell-o"></i>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li class="dropdown-title">
                <h5><b>Notifications</b></h5>
              </li>
              <li>
                <a href="#">
                  <h5><b>New Post</b></h5>
                  <span class="mention">@rails_freak</span> <span>shared a new micropost<br>
                    <span>Ruby on Rails is Awesome!</span> <span class="link">p.co/RoRawsme</span> 
                    <span class="hashtags">#Rails</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <h5><b>@Mention</b></h5>
                  <span class="mention">@rails_freak</span>
                  <span>mentioned you in a micropost</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <h5><b>Trends</b></h5>
                  <span class="hashtags">#Rails</span>
                  <span> - Topic you are following is trending!</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <h5><b>Followers</b></h5>
                  <span>Yay!</span> <span class="mention">@rails_freak</span> 
                  <span>and</span>
                  <span class="mention">@Dev</span> 
                  <span>followed you</span>
                </a>
              </li>
              <li>
                <a href="#" class="text-center">
                  <span><b><i class="fa fa-bars"></i> More</b></span>
                </a>
              </li>
            </ul>
          </li>
          <li class="dropdown">
            <a id="inbox" href="#" class="dropdown-toggle navbar-icons" data-toggle="dropdown">
              <i class="fa fa-inbox"></i>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li class="dropdown-title">
                <h5><b>Messages</b></h5>
              </li>
              <li>
                <a href="#">
                  <h6><b>@rails_freak</b></h6>
                  <span>Hey! Checkout my new post. Thanks!</span> <span class="link">p.co/RoRawsme</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <h6><b>@blogaholic</b></h6>
                  <span>Hey man! Wassup?</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <h6><b>@uiux_</b></h6>
                  <span>Medium's UI is f***ing awesome</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <h6><b>@Dev</b></h6>
                  <span>What's your view on Websockets? Let me know</span>
                </a>
              </li>
               <li>
                <a href="#" class="text-center">
                  <span><b><i class="fa fa-bars"></i> More</b></span>
                </a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#"><img class="navbar-avatar" src="https://en.gravatar.com/userimage/23763355/e7bbf514106dc2fd9ddb4e8160a72e8c.png" alt="Profile"> sudharti </a>
          </li>
        </ul>
        <form class="navbar-form navbar-right" role="search">
          <div class="form-group">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search">
              <div class="input-group-addon"><i class="fa fa-search"></i></div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="well">
          <div class="cover-pic">
            <img src="https://en.gravatar.com/userimage/23763355/e7bbf514106dc2fd9ddb4e8160a72e8c.png" alt="" class="profile-pic">
          </div>
          <div class="about">
            <label class="name">Sudharsanan M</label>
            <label class="username">@sudharti</label>
            <span>22 | Hacker | Technophile | Blogger | Android Dev | Rails Fanboy | Rubyist</span>
            <label id="location"><i class="fa fa-map-marker"></i> Dallas, Texas</label>
          </div>
        </div><br>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><b>Trends</b></h3>
          </div>
          <div class="panel-body">
            <ul class="panel-list">
              <li><a href="#">#Theme</a></li>
              <li><a href="#">#Bootstrap</a></li>
              <li><a href="#">#Rails</a></li>
              <li><a href="#">#Blog</a></li>
              <li><a href="#">#Javascript</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="panel panel-default">
          <div id="new-micropost" class="panel-body">
            <form role="form">
              <div class="form-group">
                <textarea rows="1" cols="10" class="form-control" placeholder="Compose Micropost"></textarea>
              </div>
              <button id="share" class="btn btn-success">
                <i class="fa fa-send-o"></i> <b>Share</b>
              </button>
            </form>
          </div>
        </div>
        <div id="microposts" class="well">
          <div id="post-2912915" class="micropost">
            <div class="row">
              <div class="col-lg-1">
                <img src="img/avatar.png" alt="" class="avatar">
              </div>
              <div class="col-lg-9">
                <span class="name">Blogaholic</span>
                <span class="username">@blogaholic</span>
                <div class="post"> 
                  Building a Bootstrap Theme - Awesome post by <span class="mention">@uiux_</span>
                  <a href="#">p.co/btstrpThm</a>
                  <span class="hashtags">#Theme #Bootstrap</span>
                </div>

              </div>
              <div class="col-lg-2">
                <span class="time">4 mins</span>
              </div>
            </div>
            <div class="row actions">
              <div class="col-lg-11 col-lg-offset-1">
                <a href="#">
                  <i class="fa fa-arrow-left"></i>
                </a>
                <a href="#">
                  <i class="fa fa-retweet"></i>
                </a>
                <a href="#">
                  <i class="fa fa-heart"></i>
                </a>
              </div>
            </div>
          </div>
          <div id="post-2912914" class="micropost">
            <div class="row">
              <div class="col-lg-1">
                <img src="img/avatar_2.png" alt="" class="avatar">
              </div>
              <div class="col-lg-9">
                <span class="name">UI UX Guy</span>
                <span class="username">@uiux_</span>
                <div class="post">Published my post on Building a Bootstrap Theme <a href="#">p.co/btstrpThm</a></div>
              </div>
              <div class="col-lg-2">
                <span class="time">7 mins</span>
              </div>
            </div>
            <div class="row actions">
              <div class="col-lg-11 col-lg-offset-1">
                <a href="#">
                  <i class="fa fa-arrow-left"></i>
                </a>
                <a href="#">
                  <i class="fa fa-retweet"></i>
                </a>
                <a href="#">
                  <i class="fa fa-heart"></i>
                </a>
              </div>
            </div>
          </div>
          <div id="post-2912913" class="micropost">
            <div class="row">
              <div class="col-lg-1">
                <img src="img/avatar_3.png" alt="" class="avatar">
              </div>
              <div class="col-lg-9">
                <span class="name">Rails Freak</span>
                <span class="username">@rails_freak</span>
                <div class="post">Ruby on Rails is Awesome! <a href="#">p.co/RoRawsme</a> <span class="hashtags">#Rails</span></div>
              </div>
              <div class="col-lg-2">
                <span class="time">9 mins</span>
              </div>
            </div>
            <div class="row actions">
              <div class="col-lg-11 col-lg-offset-1">
                <a href="#">
                  <i class="fa fa-arrow-left"></i>
                </a>
                <a href="#">
                  <i class="fa fa-retweet"></i>
                </a>
                <a href="#">
                  <i class="fa fa-heart"></i>
                </a>
              </div>
            </div>
          </div>
          <div id="post-2912912" class="micropost">
            <div class="row">
              <div class="col-lg-1">
                <img src="img/avatar_4.png" alt="" class="avatar">
              </div>
              <div class="col-lg-9">
                <span class="name">Developer</span>
                <span class="username">@Dev</span>
                <div class="post">
                  Websockets are future tech - We aren't there yet! 
                  <span class="hashtags">#Websockets #Javascript</span></div>
                </div>
                <div class="col-lg-2">
                  <span class="time">13 mins</span>
                </div>
              </div>
              <div class="row actions">
                <div class="col-lg-11 col-lg-offset-1">
                  <a href="#">
                    <i class="fa fa-arrow-left"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-retweet"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-heart"></i>
                  </a>
                </div>
              </div>
            </div>
            <div id="post-2912911" class="micropost">
              <div class="row">
                <div class="col-lg-1">
                  <img src="https://en.gravatar.com/userimage/23763355/e7bbf514106dc2fd9ddb4e8160a72e8c.png" alt="" class="avatar">
                </div>
                <div class="col-lg-9">
                  <span class="name">Sudharsanan M</span>
                  <span class="username">@sudharti</span>
                  <div class="post">
                    Why should you do Side Projects <a href="#">p.co/wsydSPr</a>
                  </div>
                </div>
                <div class="col-lg-2">
                  <span class="time">14 mins</span>
                </div>
              </div>
              <div class="row actions">
                <div class="col-lg-11 col-lg-offset-1">
                  <a href="#">
                    <i class="fa fa-arrow-left"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-retweet disabled"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-heart"></i>
                  </a>
                </div>
              </div>
            </div>
            <div id="post-2912910" class="micropost">
              <div class="row">
                <div class="col-lg-1">
                  <img src="img/avatar_4.png" alt="" class="avatar">
                </div>
                <div class="col-lg-9">
                  <span class="name">Developer</span>
                  <span class="username">@Dev</span>
                  <div class="post">
                    Awesome Read - How maintaining a Blog saved my ass <a href="#">p.co/hmBsAs</a>
                    <span class="hashtags">#Blog</span>
                  </div>
                </div>
                <div class="col-lg-2">
                  <span class="time">15 mins</span>
                </div>
              </div>
              <div class="row actions">
                <div class="col-lg-11 col-lg-offset-1">
                  <a href="#">
                    <i class="fa fa-arrow-left"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-retweet"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-heart"></i>
                  </a>
                </div>
              </div>
            </div>
            <div id="post-2912909" class="micropost">
              <div class="row">
                <div class="col-lg-1">
                  <img src="img/avatar_2.png" alt="" class="avatar">
                </div>
                <div class="col-lg-9">
                  <span class="name">UI UX Guy</span>
                  <span class="username">@uiux_</span>
                  <div class="post">
                    Medium's theme is so f**cking good. <a href="#">p.co/mdmThfg</a>
                    <span class="hashtags">#Medium #CSS</span>
                  </div>
                </div>
                <div class="col-lg-2">
                  <span class="time">18 mins</span>
                </div>
              </div>
              <div class="row actions">
                <div class="col-lg-11 col-lg-offset-1">
                  <a href="#">
                    <i class="fa fa-arrow-left"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-retweet"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-heart"></i>
                  </a>
                </div>
              </div>
            </div>
            <div id="post-2912908" class="micropost">
              <div class="row">
                <div class="col-lg-1">
                  <img src="img/avatar_3.png" alt="" class="avatar">
                </div>
                <div class="col-lg-9">
                  <span class="name">Rails Freak</span>
                  <span class="username">@rails_freak</span>
                  <div class="post">
                    RT <span class="mention">@sudharti</span> 
                    Front-End Javascript frameworks are clearly the future!
                    <span class="hashtags">#Javascript</span>
                  </div>
                </div>
                <div class="col-lg-2">
                  <span class="time">19 mins</span>
                </div>
              </div>
              <div class="row actions">
                <div class="col-lg-11 col-lg-offset-1">
                  <a href="#">
                    <i class="fa fa-arrow-left"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-retweet"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-heart"></i>
                  </a>
                </div>
              </div>
            </div>
            <div id="post-2912907" class="micropost">
              <div class="row">
                <div class="col-lg-1">
                  <img src="img/avatar.png" alt="" class="avatar">
                </div>
                <div class="col-lg-9">
                  <span class="name">Blogaholic</span>
                  <span class="username">@blogaholic</span>
                  <div class="post">
                    How maintaining a Blog saved my ass <a href="#">p.co/hmBsAs</a>
                    <span class="hashtags">#Blog</span>
                  </div>
                </div>
                <div class="col-lg-2">
                  <span class="time">20 mins</span>
                </div>
              </div>
              <div class="row actions">
                <div class="col-lg-11 col-lg-offset-1">
                  <a href="#">
                    <i class="fa fa-arrow-left"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-retweet"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-heart"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div id="suggestions" class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title"><b>Suggestions</b></h3>
            </div>
            <div class="panel-body">
              <ul class="panel-list">
                <li>
                  <a href="#">
                    <div class="row">
                      <div class="col-lg-3">
                        <img src="img/avatar.png" alt="" class="avatar">
                      </div>
                      <div class="col-lg-5">
                        <span class="name">Bootstrap</span>
                        <span class="username">@bootstrap</span>
                      </div>
                      <div class="col-lg-4">
                        <button class="btn btn-success btn-sm">
                          Follow
                        </button>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <div class="row">
                      <div class="col-lg-3">
                        <img src="img/avatar_4.png" alt="" class="avatar">
                      </div>
                      <div class="col-lg-5">
                        <span class="name">Dev</span>
                        <span class="username">@dev_</span>
                      </div>
                      <div class="col-lg-4">
                        <button class="btn btn-success btn-sm">
                          Follow
                        </button>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <div class="row">
                      <div class="col-lg-3">
                        <img src="img/avatar_2.png" alt="" class="avatar">
                      </div>
                      <div class="col-lg-5">
                        <span class="name">User123</span>
                        <span class="username">@user123</span>
                      </div>
                      <div class="col-lg-4">
                        <button class="btn btn-success btn-sm">
                          Follow
                        </button>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <div class="row">
                      <div class="col-lg-3">
                        <img src="img/avatar_3.png" alt="" class="avatar">
                      </div>
                      <div class="col-lg-5">
                        <span class="name">Rails</span>
                        <span class="username">@rails</span>
                      </div>
                      <div class="col-lg-4">
                        <button class="btn btn-success btn-sm">
                          Follow
                        </button>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <div class="row">
                      <div class="col-lg-3">
                        <img src="img/avatar_3.png" alt="" class="avatar">
                      </div>
                      <div class="col-lg-5">
                        <span class="name">Ruby User's Group</span>
                        <span class="username">@ruby_group</span>
                      </div>
                      <div class="col-lg-4">
                        <button class="btn btn-success btn-sm">
                          Follow
                        </button>
                      </div>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="well">
            <div class="footer">
              <label><a href="#"><a href="#">Author</a> | <a href="#">Blog</a> | <a href="#">Paper</a> | <a href="#">About</a> | <a href="#">Github</a> | <a href="#">Getting Started</a> | <a href="#">License</a></label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="../dist/js/vendor/jquery.min.js"></script>
    <script type="text/javascript" src="../dist/js/vendor/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/jquery.backstretch.min.js"></script>
    <script type="text/javascript" src="js/jquery.autosize.min.js"></script>
    <script type="text/javascript" src="js/demo.js"></script>
  </body>
  </html>